.bg-light-img {
    background-image: url("../../images/background-image-light.png");
}

.bg-dark-img {
    background-image: url("../../images/background-image-light.png")
}

.bg-space-img {
    background-image: url("../../images/background-image-space.png");
}